<div class="table-line-chart-module">
  <div class="table-line-chart-module-top">
    <div class="table-header-left">
      <button>
        <span>
          {{chart_title}}
        </span>
        <i class="fa fa-angle-down"></i>
      </button>
    </div>
    <div class="table-line-chart-module-action">
      <div class="date-range-select">
        <button class="dropbtn">
          <span>Date Range</span>
          <i class="fa fa-angle-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="">Range 1</a>
          <a href="">Range 2</a>
          <a href="">Range 3</a>
        </div>
      </div>
      <button id="module-menu"></button>
    </div>
  </div>
  <div class="module-content">
    <div class="line-chart-container">
      <div class="mls-chart-wrapper">
        <span class="errorpage-unit-title">{{chart_title}}</span>
        <ngx-charts-bar-vertical-normalized
          class="chart-container"
          [view]="view"
          [scheme]="colorScheme"
          [results]="chart_data"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [legendTitle]="legendTitle"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [yAxisTicks]="[0,25,50,75,100]"
          [xAxisTicks]="[1990, 1995, 2000, 2005, 2010, 2015]"
          [barPadding]="5">
        </ngx-charts-bar-vertical-normalized>
      </div>
    </div>
  </div>
</div>