<div id="topbar">
  <div id="profile-img"></div>
  <div id="top-right-panel">
    <div class="top-right-btn">
      <div style="padding: 9px" class="btn-bg">
        <div style="background: url(../../assets/images/chart.png); background-repeat: no-repeat; background-size: contain;" class="btn-image"></div>
      </div>
    </div>
    <div class="top-right-btn">
      <div style="padding: 10px" class="btn-bg">
        <div style="background: url(../../assets/images/search.png); background-repeat: no-repeat; background-size: contain;" class="btn-image"></div>
      </div>
    </div>
    <div class="top-right-btn">
      <div style="padding: 10px" class="btn-bg">
        <div style="background: url(../../assets/images/tools.png); background-repeat: no-repeat; background-size: contain;" class="btn-image"></div>
      </div>
    </div>
  </div>
</div>