<div class="location-search-module">
  <div class="module-header">
    <span class="module-header-title">Location</span>
    <span class="module-header-btn">
      <i class="fa fa-angle-down"></i>
    </span>
  </div>
  <div class="module-content">
    <div class="paragraph" style="display: flex; align-items: center">
      <span style="margin-right: 10px">Within</span>
      <input id="radius-input" type="text" />
      <span style="margin-right: 10px">miles of</span>
      <input id="address-input" type="text" />
      <i class="fa fa-map-marker map-icon"></i>
    </div>
    <div class="paragraph">
      <div style="margin-bottom: 10px">
        <div class="col-6 input-item">
          <span>Country</span>
          <input type="text" />
        </div>
        <div class="col-6 input-item">
          <span>Area</span>
          <input type="text" />
        </div>
      </div>
      <div style="margin-bottom: 10px">
        <div class="col-6 input-item">
          <span>City</span>
          <input type="text" />
        </div>
        <div class="col-6 input-item">
          <span>Subdivision/Complex</span>
          <input type="text" />
        </div>
      </div>
      <div class="col-6 input-item">
        <span>Zip Code</span>
        <input type="text" />
      </div>
    </div>
    <div class="paragraph">
      <div style="margin-bottom: 10px">
        <div class="col-3 input-item">
          <span>St #</span>
          <input type="text" />
        </div>
        <div class="col-3 input-item">
          <span>Dir Pfx</span>
          <input type="text" />
        </div>
        <div class="col-6 input-item">
          <span>St Name</span>
          <input type="text" />
        </div>
      </div>
      <div>
        <div class="col-4 input-item">
          <span>St Sfx</span>
          <input type="text" />
        </div>
        <div class="col-4 input-item">
          <span>Dir Sfx</span>
          <input type="text" />
        </div>
        <div class="col-4 input-item">
          <span>Unit #</span>
          <input type="text" />
        </div>
      </div>
    </div>
    <div class="paragraph">
      <div style="margin-bottom: 10px">
        <div class="col-6 input-item">
          <span>Elementary School</span>
          <input type="text"/>
        </div>
        <div class="col-6 input-item">
          <span>Middle School</span>
          <input type="text" />
        </div>
      </div>
      <div class="col-6 input-item">
        <span>High School</span>
        <input type="text" />
      </div>
    </div>
  </div>
</div>