.location-search-module {
  width: 100%;
  border: 1px solid #707070;
  color: white;
  font-size: 12px;
}

.module-header {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background: linear-gradient(to left, #193046, #2F345A);
}

.module-header span i {
  font-size: 16px;
}

.module-content {
  background: linear-gradient(340deg, #2C2D33, #3B3D4E, #2C2D33);
  padding: 0 10px;
}

.paragraph {
  padding: 15px 0;
  border-bottom: 1px solid #727272;
}

.paragraph .col-3,
.paragraph .col-4,
.paragraph .col-6 {
  padding-left: 5px;
  padding-right: 5px;
}

#radius-input {
  width: 60px;
  height: 25px;
  color: white;
  margin-right: 20px;
  background: transparent;
  border: 1px solid #8B98FC;
}

#address-input {
  flex: 1;
  height: 25px;
  color: white;
  background: transparent;
  border: 1px solid #8B98FC;
}

.map-icon {
  font-size: 20px;
  color: #8B98FC;
  margin: 0 15px;
}

.paragraph:last-child {
  border-bottom: none;
}

.input-item {
  display: inline-block;
}

.input-item input {
  color: white;
  width: 100%;
  height: 25px;
  margin-top: 5px;
  background: transparent;
  border: 1px solid #8B98FC;
}
