<div class="inventory-chart-module">
  <div class="chart-module-top">
    <span>{{title}}</span>
    <div class="chart-module-action">
      <div class="date-range-select">
      	<button class="dropbtn">
          <span>Date Range</span>
          <i class="fa fa-angle-down"></i>
        </button>
        <input 
        type="text" 
        mwlFlatpickr 
        [(ngModel)]="rangeValue" 
        
        [convertModelValue]="true"
        mode="range">
        <div class="dropdown-content">
          <a href="">Last 1 Month</a>
          <a href="">Last 3 Months</a>
          <a href="">Last 6 Months</a>
          <a href="">Last 1 Year</a>
          <a href="">Since Inception</a>
        </div>
       	
      </div>
    </div>
  </div>

  <div>
    <ngx-charts-pie-chart
      class="chart-container"
      [scheme]="colorScheme"
      [results]="data"
      [animations]="animations"
      [legend]="showLegend"
      [legendTitle]="legendTitle"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [arcWidth]="arcWidth"
      (legendLabelClick)="onLegendLabelClick($event)"
      [gradient]="gradient"
      (dblclick)="dblclick($event)"
      (select)="select($event)">
    </ngx-charts-pie-chart>
  </div>
</div>