<div id="navbar">
  <a id="mispricings" href='/mispricing' [ngClass]="calculateClasses('/mispricing')">
    <span>Mispricings</span>
  </a>
  <a id="inventory" href='/inventory' [ngClass]="calculateClasses('/inventory')">
    <div class="inventory-select">
        <span>Inventory</span>
    </div>
    <div class="dropdown">
      <div class="dropdown-content">
        <a class="dropdown-item" href="inventory-master">Master</a>
        <a class="dropdown-item" href="inventory-rental">Rental</a>
      </div>
    </div>
  </a>
  
  <a id="error-summary" href='/error' [ngClass]="calculateClasses('/error')">
    <div class="error-summary-select">
      <span>Error Summary</span>
    </div>
    <div class="dropdown">
      <div class="dropdown-content">
        <a class="dropdown-item" href="error-mls">MLS Overview</a>
        <a class="dropdown-item" href="error-details">Details About MLS Data</a>
        <a class="dropdown-item" href="error-error">Error Overview</a>
        <a class="dropdown-item" href="error-daily">Daily Overview</a>
      </div>
    </div>
  </a>
  <a id="search" href='/search' [ngClass]="calculateClasses('/search')">
    <span>Search</span>
  </a>
</div>