.table-line-chart-module {
  width: 100%;
  border: 1px solid #7B7B7B;
  margin-bottom: 20px;
  color: white;
  font-size: 12px;
  table {
    width: 100%;
  }
}

.table-line-chart-module-top {
  width: 100%;
  height: 35px;
  padding: 7px 10px 7px 15px;
  background: linear-gradient(to left, #193046, #2F345A);
  span {
    font-size: 15px;
  }
}

.table-line-chart-module-action {
  float: right;
  height: 20px;
  display: flex;
  .date-range-select {
    margin-right: 10px;
    height: 20px;
    width: 110px;
    border: 1px solid #707070;
    button {
      width: 100%;
      height: 100%;
      padding: 0 7px;
      background: transparent;
      border: none;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      span {
        font-size: 11px;
      }
      i {
        font-size: 15px;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      border: 1px solid #707070;
      z-index: 1;
      a {
        display: block;
        width: 108px;
        height: 20px;
        padding-left: 7px;
        border-bottom: 1px solid #707070;
        background: #193046;
        color: white;
        text-decoration: unset;
      }
    }
  }
  .date-range-select:hover .dropdown-content {
    display: block;
  }
  #module-menu {
    height: 20px;
    width: 27px;
    background: url(../../../assets/images/module_menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
  }
}

.table-header-left {
  display: inline;
}

.table-header-left i {
  font-size: 17px;
}

.table-header-left button {
  font-size: 12px;
  color: white;
  border: none;
  background: transparent;
  margin-right: 5px;
  span {
    margin-left: 5px;
  }
}

.module-content {
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
}

.table-container {
  width: 61%;
}

.line-chart-container {
  width: 36%;
}

.table-line-chart-module table tr {
  background: black;
  th {
    padding: 7px 15px;
    text-align: center;
    border: 1px solid #7B7B7B;
  }
  td {
    padding: 7px 15px;
    text-align: center;
    border: 1px solid #7B7B7B;
  }
  th:first-child {
    text-align: left;
  }
  td:first-child {
    text-align: left;
  }
  th:last-child {
    background: #408DF5;
  }
  td:last-child {
    background: #408DF5;
  }
}

.table-line-chart-module table tr:last-child {
  background: #408DF5;
}