<div class="table-line-chart-module">
  <div class="table-line-chart-module-top">
    <div class="table-header-left">
      <button>
        <span>
          Surface Level Mispricings
        </span>
      </button>
      <button class="source-select">
        <span>
          Source
        </span>
        <div class = "dropdown-content">
          <a href="">Zillow</a>
          <a href="">Redfin</a>
          <a href="">Corelogic</a>
          <a href="">All</a>
        </div>
        <i class="fa fa-angle-down"></i>
      </button>
    </div>
    <div class="table-line-chart-module-action">
     <div class="date-range-select">
      	<button class="dropbtn">
          <span>Date Range</span>
          <i class="fa fa-angle-down"></i>
        </button>
        <input 
        type="text" 
        mwlFlatpickr 
        [(ngModel)]="rangeValue" 
        
        [convertModelValue]="true"
        mode="range">
        <div class="dropdown-content">
          <a href="">Last 1 Month</a>
          <a href="">Last 3 Months</a>
          <a href="">Last 6 Months</a>
          <a href="">Last 1 Year</a>
          <a href="">Since Inception</a>
        </div>
       	
      </div>
    </div>
  </div>
  <div class="module-content">
    <div class="table-container">
      <table>
        <tr>
          <th *ngFor="let headText of data[0]">{{headText}}</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let line of data.slice(1); index as i">
          <td>{{line[0]}}</td>
          <td *ngFor="let item of line.slice(1)">{{formatText(item)}}</td>
          <td>{{formatText(totalCol[i+1])}}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td *ngFor="let total of totalRow.slice(1)">{{formatText(total)}}</td>
          <td>{{formatText(totalSum)}}</td>
        </tr>
      </table>
    </div>
    <div class="line-chart-container">
      <ngx-charts-bar-vertical-2d
        class="chart-container"
        [scheme]="colorScheme"
        [results]="barChartData"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [barPadding]="barPadding"
        [groupPadding]="groupPadding"
        [yScaleMax]="yScaleMax">
      </ngx-charts-bar-vertical-2d>
    </div>
  </div>
</div>