<div class="mispricing-table-module">
  <div class="table-module-top">
    <div class="table-header-left">
      <button class="table-title">
        <span>
          MLS Top Mispricings 
        </span>
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="table-module-action state-table-selector">
        <div class="state-select">
          <button class="dropbtn">
            <span>
              Atlanta
            </span>
            <i class="fa fa-angle-down"></i>
          </button>
          <div class="dropdown-content">
            <a (click)="selectATL()">Atlanta</a>
            <a (click)="selectPHL()">Philly</a>
            <a (click)="selectFLR()">South Florida</a>
          </div>
        </div>
      </div>
    </div>
    <div class="table-module-action">
     <div class="date-range-select">
      	<button class="dropbtn">
          <span>Date Range</span>
          <i class="fa fa-angle-down"></i>
        </button>
       
        <div class="dropdown-content">
          <a href="">Last 1 Month</a>
          <a href="">Last 3 Months</a>
          <a href="">Last 6 Months</a>
          <a href="">Last 1 Year</a>
          <a href="">Since Inception</a>
        </div>
       	
      </div>
       <input 
        type="text" 
        mwlFlatpickr 
        [(ngModel)]="rangeValue" 
        
        [convertModelValue]="true"
        mode="range">
    </div>
  </div>
  <table>
    <thead>
    <tr>
      <th (click)="sorts(0, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>MLS ID</th>
      <th (click)="sorts(1, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>Original Price</th>
      <th (click)="sorts(2, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>Prev Price</th>
      <th (click)="sorts(3, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>Ask Price</th>
      <th (click)="sorts(4, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>$ Change</th>
      <th (click)="sorts(5, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>$ Change OLP</th>
      <th (click)="sorts(6, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>% Change</th>
      <th (click)="sorts(7, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>% Change OLP</th>
      <th (click)="sorts(8, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>Zestimate</th>
      <th (click)="sorts(9, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>Redfin</th>
      <th (click)="sorts(10, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>Average</th> 
      <th (click)="sorts(11, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>AVM Delta Premium</th>
    </tr>
    </thead>
    <tr *ngFor="let line of data">
      <td>{{line[0]}}</td>
      <td>{{formatPrice(line[1])}}</td>
      <td>{{formatPrice(line[2])}}</td>
      <td>{{formatPrice(line[3])}}</td>
      <td>{{formatPrice(line[4])}}</td>
      <td>{{formatPrice(line[5])}}</td>
      <td>{{formatPercent(line[6])}}</td>
      <td>{{formatPercent(line[7])}}</td>
      <td>{{formatPrice(line[8])}}</td>
      <td>{{formatPrice(line[9])}}</td>
      <td>{{formatPrice(line[10])}}</td>
      <td class="total_value">{{formatPrice(line[11])}}</td>
    </tr>
  </table>
</div>