<div id="error-page-container">
  <ul id="sortable">
    
    <li class="row error-page-unit">
      <div class="col-sm-12">
        <app-error-page-analysis-table [chart]="residential">
        </app-error-page-analysis-table>
      </div>
    </li>    
    <li class="row error-page-unit">
      <div class="col-sm-12">
        <app-error-page-totalyear-table [chart]="residential">
        </app-error-page-totalyear-table>
      </div>
    </li>
    <li class="row error-page-unit">
      <div class="col-sm-12">
        <app-error-page-totalyear-table [chart]="rental">
        </app-error-page-totalyear-table>
      </div>
    </li>
    <li class="row error-page-unit">
      <div class="col-sm-12">
        <app-error-page-line-chart [chart]="database">
        </app-error-page-line-chart>
      </div>
    </li>
    <li class="row error-page-unit">
      <div class="col-sm-12">
        <app-error-page-mlsoverview-module>
        </app-error-page-mlsoverview-module>
      </div>
    </li>
    <li class="row error-page-unit">
      <div class="col-sm-12">
        <app-error-page-analysis-table [chart]="rental">
        </app-error-page-analysis-table>
      </div>
    </li>
    <li class="row error-page-unit">
      <div class="col-sm-12">
        <app-error-page-line-chart [chart]="daily">
        </app-error-page-line-chart>
      </div>
    </li>
    <li class="row error-page-unit">
      <div class="col-sm-12">
        <app-error-page-line-chart [chart]="mls">
        </app-error-page-line-chart>
      </div>
    </li>
    <li class="row error-page-unit">
      <div class="col-sm-12">
        <app-error-page-line-chart [chart]="totalerror">
        </app-error-page-line-chart>
      </div>
    </li>
  </ul>
</div>