<div class="remarks-search-module">
  <div class="module-header">
    <span class="module-header-title">Remarks</span>
    <span class="module-header-btn">
      <i class="fa fa-angle-down"></i>
    </span>
  </div>
  <div class="module-content">
    <div class="module-input-label">
      Public Remarks-Consuver View:
    </div>
    <input id="public-input" type="text" />
    <div class="module-input-label">
      Private Remarks-Members Only:
    </div>
    <input id="private-input" type="text" />
  </div>
</div>