<div class="remarks-search-module">
  <div class="module-header">
    <span class="module-header-title">Property</span>
    <span class="module-header-btn">
      <i class="fa fa-angle-down"></i>
    </span>
  </div>
  <div class="module-content">
    <div class="heading-text">Type</div>
    <div class="type-selector">
      <div class="radio-btn radio-selected">
        <div class="radio-bg">
          <div class="radio-dot"></div>
        </div>
        Residential Detached
      </div>
      <div class="radio-btn">
        <div class="radio-bg">
          <div class="radio-dot"></div>
        </div>
        Residential Attached
      </div>
    </div>
    <div class="heading-text">Details</div>
    <div class="detail-container1">
      <div class="detail-item1">
        <span>Total Bedrooms</span>
        <input type="text" />
      </div>
      <div class="detail-item1">
        <span>Total Full Baths</span>
        <input type="text" />
      </div>
      <div class="detail-item1">
        <span>SqFt</span>
        <input type="text" />
      </div>
      <div class="detail-item1">
        <span>Year Built</span>
        <input type="text" />
      </div>
    </div>
    <div class="detail-container2">
      <div class="detail-item2">
        <span>Price</span>
        <input type="text" />
      </div>
      <div class="detail-item2">
        <span>FMLS #</span>
        <input type="text" />
      </div>
    </div>
  </div>
</div>