<div class="table-module">
  <div class="table-module-top">
    <span>{{title}}</span>
    <div class="table-module-action">
     <div class="date-range-select">
      	<button class="dropbtn">
          <span>Date Range</span>
          <i class="fa fa-angle-down"></i>
        </button>
       
        <div class="dropdown-content">
          <a href="">Last 1 Month</a>
          <a href="">Last 3 Months</a>
          <a href="">Last 6 Months</a>
          <a href="">Last 1 Year</a>
          <a href="">Since Inception</a>
        </div>
       	
      </div>
       <input 
        type="text" 
        mwlFlatpickr 
        [(ngModel)]="rangeValue" 
        dateFormat = "m-d-Y"
        [convertModelValue]="true"
        mode="range">
    </div>
  </div>
  <table title="{{title}}">
    <thead>
      <tr>
        <th *ngFor="let headText of data[0]; index as i" (click)="sorts(i, $event)"><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>{{headText}}</th>
        <th><span class = "ui-column-resizer" (mousedown) = "onMouseDown($event)"></span>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let line of data.slice(1); index as i">
        <td>{{line[0]}}</td>
        <td *ngFor="let item of line.slice(1)">{{formatText(item)}}</td>
        <td>{{formatText(totalCol[i+1])}}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td *ngFor="let total of totalRow.slice(1)">{{formatText(total)}}</td>
        <td>{{formatText(totalSum)}}</td>
      </tr>
    </tbody>
  </table>
</div>